* {
  box-sizing: border;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black !important;
  max-width: 100%;
  min-height: 100%;
  color: white !important;
}

.row {
  align-content: right;
  width: max-content;
  margin-top: 30px;
  padding: 25px;
  width: 100%;
  height: 100%;
}
.card-text {
  color: white;
}
.nav-pills .me-3 {
  padding-top: 10px;
}

.container-fixed {
  background-color: black;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.nav-link {
  margin-top: 25px;
}
.card {
  background-color: black !important;
}

/* .col-lg-3 {
  border: 5px solid white;
  width: 33%;
  background-color: rgb(52, 50, 51);
  align-content: center;
} */

/* .align-items-start {
  margin-left: 10px;
} */

.btn {
  display: block;
  height: 50px;
  width: 150px;
  border-radius: 50%;
  margin-right: 25px;
  margin-bottom: 25px;
}

/* .badge {
  height: 40px;
  width: 235px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgb(52, 50, 51) !important;
} */
.badge-text {
  font-size: 1rem !important;
}

/* .footer-pose {
  bottom: 0%;
  
} */
.dark-grey {
  background-color: rgb(52, 50, 51);
  height: 40px;
  width: 235px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgb(52, 50, 51) !important;
}
.vertical-divider {
  border-right: 2px solid rgb(52, 50, 51);
  justify-content: space-evenly;
}
.off-white {
  background-color: rgb(227, 211, 211);
}
.social-icons {
  margin-left: 70px;
  padding: 100px;
}
.experience {
  margin-top: 70px;
}
