* {
  box-sizing: border;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black !important;
  max-width: 100%;
  min-height: 100%;
  color: white !important;
}

.row {
  align-content: right;
  width: max-content;
  margin-top: 30px;
  padding: 25px;
  width: 100%;
  height: 100%;
}
.card-text {
  color: white;
}
.nav-pills .me-3 {
  padding-top: 10px;
}

.container-fixed {
  background-color: black;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.nav-link {
  margin-top: 25px;
}
.card {
  background-color: black !important;
  justify-content: space-around;
  width: 15rem;
  margin-left: 30px;
}
.wrapper {
  /* margin-top: 30px; */
  padding: 20px;
}

.badge-text {
  font-size: 1rem !important;
}

.dark-grey {
  background-color: rgb(50, 51, 52);
  height: 40px;
  width: 205px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 40px;
}
.dark-grey:hover {
  background-color: rgb(164, 164, 168);
  color: black;
  border-radius: 1ch;
}
.btn {
  height: 40px;
  margin: 25px;
  margin-bottom: 50px;
}

.details {
  justify-content: center;
  align-items: center;
}

.vertical-divider {
  border-right: 2px solid white;
  height: 100vh;
}

.social-icons {
  margin-left: 70px;
  padding: 30px;
  justify-content: space-around;
  display: inline-flex;
  align-items: baseline;
  margin-right: 50px;
}

.experience {
  margin-top: 70px;
}

.footer {
  width: 100%;
  display: block;
}

/* For responsive website */
@media screen and (min-width: 400px) {
  .nav-pills {
    overflow: hidden;
    position: relative;
    float: left;
    display: block;
    color: #d20909;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .vertical-divider {
    display: none;
  }

  .card {
    justify-content: center;
    margin-top: 20px;
    margin-left: 70px;
    width: 8rem;
  }
  .dark-grey {
    height: auto;
    max-width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: gray;
    margin-left: 50px;
    font-size: 50%;
  }
  .btn {
    height: 35px;
    margin: 10px;
    margin-bottom: 20px;
    padding: 1em;
    font: size 0.6vh;
  }
  /* .social-icons {
    margin-left: 40px;
    align-items: center;
  } */
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .card {
    /* height: 300px; */
    justify-content: center;
    margin-top: 20px;
    margin-left: 15px;
    width: 11rem;
  }
  .btn {
    height: 35px;
    margin: 10px;
    margin-bottom: 20px;
    padding: 1em;
    font: size 0.6vh;
    /* width: 50%; */
  }
  .dark-grey {
    height: auto;
    max-width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(172, 83, 83);
    margin-left: 25px;
    font-size: 20px;
  }
  /* .social-icons {
    margin-left: 40px;
    align-items: center;
  } */
}
